// select{
    // -webkit-appearance: none;
    // -moz-appearance:    none;
    // appearance:         none;
// }

textarea{
    resize:none;
    height: 170px;
}

.file-custom:before {
    content: "Selecione";
}

.file-custom:after {
    content: "Nenhum arquivo selecionado";
}

::-webkit-input-placeholder {
   color: inherit!important;
}

:-moz-placeholder {
   color: inherit!important;
}

::-moz-placeholder {
   color: inherit!important;  
}

:-ms-input-placeholder {  
   color: inherit!important;  
}
