@charset "UTF-8";
/*SELECAO ========================*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
::-moz-selection {
  background: #3F529F;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #3F529F;
  color: #FFF;
  text-shadow: none;
}

/*PAGE WRAPER==========================*/
html, body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  color: #333;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: none;
}

a {
  color: #333;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none !important;
  text-decoration: none;
}
a > img {
  position: relative;
  top: -2px;
}

.primaria {
  color: #3F529F;
}

.secundaria {
  color: #FDC915;
}

.terciaria {
  color: #43ABCF;
}

.branco {
  color: #FFF !important;
}

.cinza {
  color: #333 !important;
}

.cinza-claro {
  color: #EEE !important;
}

.bg-primaria {
  background-color: #3F529F;
}

.bg-secundaria {
  background-color: #FDC915;
}

.bg-terciaria {
  background-color: #43ABCF;
}

.bg-cinza {
  background-color: #333;
}

.bg-cinza-claro {
  background-color: #EEE;
}

.bg-branco {
  background-color: #FFF;
}

.fontsite-regular {
  font-family: "Quicksand", sans-serif;
}
.fontsite-regular.bold {
  font-weight: 700;
}

.font7 {
  font-size: 0.4375em !important;
}

.font8 {
  font-size: 0.5em !important;
}

.font10 {
  font-size: 0.625em !important;
}

.font11 {
  font-size: 0.6875em !important;
}

.font12 {
  font-size: 0.75em !important;
}

.font13 {
  font-size: 0.8125em !important;
}

.font14 {
  font-size: 0.875em !important;
}

.font15 {
  font-size: 0.9375em !important;
}

.font16 {
  font-size: 1em !important;
}

.font18 {
  font-size: 1.125em !important;
}

.font19 {
  font-size: 1.1875em !important;
}

.font20 {
  font-size: 1.25em !important;
}

.font21 {
  font-size: 1.3125em !important;
}

.font22 {
  font-size: 1.375em !important;
}

.font24 {
  font-size: 1.5em !important;
}

.font25 {
  font-size: 1.5625em !important;
}

.font26 {
  font-size: 1.625em !important;
}

.font27 {
  font-size: 1.6875em !important;
}

.font28 {
  font-size: 1.75em !important;
}

.font30 {
  font-size: 1.875em !important;
}

.font32 {
  font-size: 2em !important;
}

.font36 {
  font-size: 2.25em !important;
}

.font40 {
  font-size: 2.5em !important;
}

.font42 {
  font-size: 2.625em !important;
}

.font50 {
  font-size: 3.125em !important;
}

.grow { /* prefixo para browsers webkit */ /* prefixo para browsers gecko */ /* prefixo para opera */
  transform: scale(0.99);
  transition: all 0.5s ease;
}
.grow:hover { /* prefixo para browsers webkit */ /* prefixo para browsers gecko */ /* prefixo para opera */
  transform: scale(1);
}

.giro {
  /* transições (animações)*/
  transition: all 500ms ease;
  /*qualidade da imagem*/
  image-rendering: optimizeQuality;
}
.giro:hover {
  /*rotação*/
  transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
}

a:hover > img.giro {
  transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
}
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.swing:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

/* make keyframes that tell the start state and the end state of our object */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0; /* make things invisible upon start */ /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.balanco:hover {
  animation: balanco 1s ease;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes balanco {
  15% {
    transform: rotateZ(5deg);
  }
  30% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  65% {
    transform: rotateZ(-3deg);
  }
  80% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
textarea {
  resize: none;
  height: 170px;
}

.file-custom:before {
  content: "Selecione";
}

.file-custom:after {
  content: "Nenhum arquivo selecionado";
}

::-webkit-input-placeholder {
  color: inherit !important;
}

:-moz-placeholder {
  color: inherit !important;
}

::-moz-placeholder {
  color: inherit !important;
}

:-ms-input-placeholder {
  color: inherit !important;
}

.text-justify {
  text-align: justify;
}

footer {
  padding: 30px 0;
  background-color: #EEE;
}

header {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 97px;
  padding: 10px 0 0 0;
  margin-bottom: 140px;
  background-color: #EEE;
  transition: all 0.5s ease;
}

.logo {
  width: 161px;
  height: 179px;
}

nav {
  height: 100%;
}
nav > div {
  height: 100%;
}

.link_nav:hover {
  color: #3F529F;
}

.my_title {
  font-family: "Quicksand", sans-serif;
  color: #3F529F;
  display: inline-block;
  padding: 0;
}/*# sourceMappingURL=style.css.map */